
<div class="card">
    <div class="card__cover">
        <img [src]="movie.file" alt="">
        <a href="#" class="card__play">
            <i class="icon ion-ios-play"></i>
        </a>
    </div>
    <div class="card__content">
        <!--  -->
        <h3 class="card__title" ><a [routerLink]="['/MovieDetails/',movie.name]">{{movie.name}}</a></h3>
        <span class="card__category">
            <a href="#">{{movie.type}}</a>
            <a href="#">{{movie.duration}}</a>
            
        </span>
        <span class="card__rate"><i class="icon ion-ios-star">{{rate  | number:'1.0-1'}}</i></span>
    </div>
</div>
