

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<body class="bk">


<app-header></app-header>

  <div class="sign section--bg" data-bg="../../assets/img/section/section.jpg">

		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="sign__content">
						<!-- registration form -->
						<form (submit)="SignUp(formi)" #formi="ngForm" action="/" class="sign__form">
							<a href="index.html" class="sign__logo">
                <img src="../../assets/img/logo.svg" alt="">
              </a>





              <div class="sign__group">
                 <h4 style="color:white;">Username : </h4>
								<input ngModel type="text" name="username" class="sign__input" placeholder="Name">
							</div>

							<div class="sign__group">
                <h4 style="color:white;">Email Adress : </h4>
								<input ngModel type="text" name="email" class="sign__input" placeholder="Email">
							</div>

							<div class="sign__group">
                <h4 style="color:white;">Password : </h4>
								<input ngModel type="password" name="pwd" class="sign__input" >
							</div>


							<button class="sign__btn" type="submit">Sign up</button>

							<span class="sign__text">Already have an account? <a [routerLink]="['/SignIn']">Sign in!</a></span>
            </form>

              <p-toast position="top-right" [style]="{marginTop: '100px'}"></p-toast>
            

					</div>
				</div>
			</div>
		</div>
	</div>


</body>
