
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">


<body *ngIf="actionn" class="bk">

  <app-header></app-header>

  <mat-progress-bar mode="indeterminate" *ngIf='refresh' ></mat-progress-bar >



    <div class="schedule">
      <ejs-schedule class="aff" width='70%' height='500px' [eventSettings]='eventSettings' *ngIf="tab[1]">
      </ejs-schedule>
    <ejs-schedule class="aff" width='70%' height='500px'[eventSettings]='eventSettings' *ngIf="tab[0]">
      <ng-template #editorTemplate let-data >
        <table class="custom-event-editor" width="100%" cellpadding="5">
            <tbody>
                <tr>
                    <td class="e-textlabel">note</td>
                    <td colspan="4">
                        <input id="Subject" class="e-field e-input" type="text" value="{{data.Subject}}" name="Subject" placeholder="qdqds" style="width: 100%" />
                    </td>
                </tr>
                <tr>
                    <td class="e-textlabel">Film</td>
                    <td colspan="4">
                      <tr>

                           <ejs-dropdownlist id="Status" class="e-field" data-name="Status" [dataSource]="StatusData" [fields]="StatusFields" value="{{data.Status}}"></ejs-dropdownlist>

                    </tr>
                    </td>
                </tr>
                <tr>
                  <td class="e-textlabel">From</td>
                  <td colspan="4">
                    <ejs-datetimepicker  id="StartTime" class="e-field" data-name="StartTime" format="M/dd/yy h:m a" [value]='dateParser(data.startTime || data.StartTime)' ></ejs-datetimepicker>
                  </td>
              </tr>
              <tr>
                  <td class="e-textlabel">To</td>
                  <td colspan="4">
                    <ejs-datetimepicker  id="EndTime" class="e-field" data-name="EndTime" format="M/dd/yy h:m a"  [value]='data.EndTime' ></ejs-datetimepicker>
                  </td>
              </tr>



            </tbody>
        </table>
    </ng-template>
    </ejs-schedule>


  </div>

  <div class="navi" *ngIf="!change_hall">
    <p-dropdown (onChange)="select_salle()" [options]="halls" [(ngModel)]="selectedhall"></p-dropdown>
  </div>


<div class="global">
<div class="bk2">
</div>


<button *ngIf="!change_hall" class="btn btn-danger bttn" (click)="cliquer()">Save changes</button>



</div>

     <mat-progress-spinner *ngIf='change_hall'
    class="example-margin"
    color="warn"
    mode="indeterminate"
    value=50
    diameter= 300
    strokeWidth= 5>
</mat-progress-spinner>




</body>
